name: 打包入库助手
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install requests pywebview[qt] pyinstaller
      - name: Build with PyInstaller
        run: |
          pyinstaller -F -w --clean --add-data "index.html;." --name "SteamUnlocker" app.py
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SteamUnlocker_EXE
          path: dist/SteamUnlocker.exe
